<% title text_label(@card) %>
<p>
  <span class='label'><%= Card.human_attribute_name( 'question' ) %>:</span>
  <%=h @card.question %>
</p>
<p>
  <span class='label'><%= Card.human_attribute_name( 'answer' ) %>:</span>
  <%=h @card.answer %>
</p>

<p>
  <%= link_to t('actions.edit'), edit_card_path(@card) %> |
  <%= link_to t('actions.delete'), @card, :confirm => t('actions.confirm_delete'), :method => :delete %> |
  <%= link_to t('actions.view_all'), cards_path %>
</p>
