<h1><%= Card.human_attribute_name(:class_idx) %> <%= @card.class_idx.to_s %> - <%= Card.human_attribute_name(:question_idx) %> <%= @card.question_idx.to_s %></h1>
<h2><%= @card.question %></h2>
<% semantic_form_for @card, :url => test_path do |f|%>
  <% f.inputs do %>
    <%= f.input :id, :as => :hidden %>
    <%= f.input :guess, :as => :text %>
    <% f.buttons do %>
      <li><button class="awesome"><%= t('actions.submit') %></button></li>
      <li><%= link_to_function t('tests.edit.hint'), "alert('#{@card.answer}');" %></li>
    <% end %>
  <% end %>
<% end %>