<h1><%= text_label(@card) %></h1>
<h2><%= @card.question %></h2>
<% semantic_form_for @card, :url => test_path do |f|%>
  <% f.inputs do %>
    <%= f.input :id, :as => :hidden %>
    <%= f.input :guess, :as => :text %>
    <% f.buttons do %>
      <li><button class="awesome"><%= t('actions.submit') %></button></li>
      <li><%= link_to_function t('tests.edit.hint'), "alert('#{@card.answer}');" %></li>
    <% end %>
  <% end %>
<% end %>