<h1><%= t('tests.index.title') %></h1>
<p><%= t('tests.index.instructions')%></p>
<h2><%= t('tests.index.last_test_results') %></h2>
<ul>
  <li><%= t('tests.index.correct') %>: <%= @correct.size %></li>
  <li><%= t('tests.index.incorrect') %>: <%= @incorrect.size %></li>
</ul>
<%= button_to t('tests.index.start_test'), test_path, :class=>"large awesome" %>
