<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || t('application.title')) %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag "formtastic" %>
    <%= stylesheet_link_tag "formtastic_changes" %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id='header'>
      <div id='language_selection' class='menu'><%= language_selection %></div>
      <div id='user_actions' class='menu'>
        <% if logged_in? %>
          <%= t('application.welcome', :name => current_user.username) %>
        <%= link_to t('application.logout'), logout_path %>
        <% else %>
          <% unless User.count > 0 %>
            <%= link_to t('application.signup'), signup_path %> <%= t('application.or') %>
          <% end %>
        <%= link_to t('application.login'), login_path %>
        <% end %>

      </div>
    </div>
    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      
      <%= yield %>
    </div>
  </body>
</html>
